conteudo/rag/Simple RAG.json
{
  "name": "Simple RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        496,
        112
      ],
      "id": "16a63f57-ab0c-4580-891d-9eac26edb863",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "content": "### Readme\nLoad your data into a vector database with the  **Load Data** flow, and then use your data as chat context with the **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the **Load Data** flow.\n2. Click on `Open Chat` button to run the **Retriever** flow. Then ask a question about content from your document(s)\n",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        48
      ],
      "typeVersion": 1,
      "id": "753a79b9-6184-4fd3-8e5f-865986ccca15",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 1. Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        48
      ],
      "typeVersion": 1,
      "id": "e84fc90c-f629-4f45-9fe8-5dcd214d6b06",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1568,
        96
      ],
      "id": "0510f84a-7bc4-42e9-b5b5-a95c96b31bff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1344,
        96
      ],
      "id": "2dee1f78-8aa0-4a13-843e-5412cd63ae72",
      "name": "When chat message received",
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        320
      ],
      "id": "f5d2d548-d6f7-42b2-a8c2-875add7bb71f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "content": "### 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        48
      ],
      "typeVersion": 1,
      "id": "476843f1-70b5-4173-ad64-9397d14797d9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        704
      ],
      "typeVersion": 1,
      "id": "db458552-5b77-4c4c-a218-863b985322aa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json['Upload your file(s)'][0].filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        240
      ],
      "id": "eb5b74df-a48c-403c-8690-dfb8c17d1cbb",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        928,
        368
      ],
      "id": "88d0759a-0ecf-42d5-9c79-9cdc52f53b6e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-inventory-db",
          "mode": "list",
          "cachedResultName": "n8n-inventory-db"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        640,
        112
      ],
      "id": "9f0ec56b-68b1-451e-94f4-1b9cb240f628",
      "name": "Upload File to Vector",
      "credentials": {
        "pineconeApi": {
          "id": "omnxDFqERrDOU0qG",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        784
      ],
      "id": "bf213dbb-c14c-450b-9686-07f7876aaf12",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KSKdcXliKsG4jYZC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fetch world bank annual report 2024 from here",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-inventory-db",
          "mode": "list",
          "cachedResultName": "n8n-inventory-db"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1488,
        304
      ],
      "id": "5ea7e339-f810-46d4-a40b-8e76980b6c13",
      "name": "Query Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "omnxDFqERrDOU0qG",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1792,
        304
      ],
      "id": "dfcc5915-7a17-403d-810f-c63248dcb438",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Upload File to Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Upload File to Vector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Upload File to Vector",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Query Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71af7424-71f1-46cf-a09c-b82c99f53431",
  "meta": {
    "instanceId": "aaadb797535f05587ee95b776c942a7c3f7a46fd7aa0c9b6a9d64e1e595f8af1"
  },
  "id": "UbGJsYGljMBcypKH",
  "tags": []
}